@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.eth {
background: rgb(9, 7, 31);
  background: radial-gradient(circle, rgba(9, 7, 31, 1) 0%, rgba(0, 0, 30, 1) 47%, rgba(7, 9, 9, 1) 100%);
}
body {
  @apply h-screen w-screen text-gray-500;
  background: radial-gradient(circle, rgba(9, 7, 31, 1) 0%, rgba(0, 0, 30, 1) 47%, rgba(7, 9, 9, 1) 100%);
}

.li {
  @apply mr-7 hover:text-white cursor-pointer text-lg active:text-white
}

.current {
  @apply text-white
}
.icon {
  @apply h-6 w-6 text-gray-400 
}
.connectBtn {
  @apply bg-[#0f3b6d] w-full flex justify-center items-center rounded-2xl text-[#0d80fd] text-xl font-medium cursor-pointer h-14 hover:bg-[#1d4c81] 
}

.swapBtn {
    @apply bg-[#0d81fc] w-full flex justify-center items-center rounded-2xl text-[#4492e4] text-xl font-medium cursor-pointer h-14 hover:bg-[#1d4c81] text-white
}

.headerConnect {
  @apply text-lg font-normal text-[#0d7ffb] hover:text-[#174c93] cursor-pointer pr-2 border-r border-[#0d7ffb]
}

.headerConnectDiv {
  @apply flex items-center bg-[#10315b] p-2 rounded-full
}

.headerConnectDiv2 {
  @apply flex bg-slate-900 p-2 rounded-full
}

.section {
  @apply w-full h-full mt-20 flex justify-center mr-auto 
}

.wrapper {
  @apply h-fit bg-[#0b111c] rounded-2xl border border-[#1c2231] shadow-xl p-5 relative
}
.position {
  @apply flex bg-blue-500 overflow-hidden items-center px-2 py-1 h-fit text-white rounded-xl cursor-pointer hover:bg-blue-600
}

.before::before {
  content: '';
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background-color: #fff;
  filter: opacity(65%);
}